.square {
    background-color: #f8e1b7;
    border: 2px solid #9e9176;
    font-size: 24px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    float: left;
    border-radius: 5px;
}

.square:hover {

    background-color: #9e9176;
    color: white;
    cursor: pointer;
}