.square {
    background-color: #f8e1b7;
    border: 2px solid #9e9176;
    font-size: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 4px;
}

.square:hover {

    background-color: #807660;
    color: white;
    cursor: pointer;
}
